services:
  - type: web
    name: omnitoken-enterprise
    env: static
    buildCommand: "npm install && npm run build"
    staticPublishPath: ./
    headers:
      - path: /*
        name: Cache-Control
        value: no-cache
    routes:
      - type: rewrite
        source: /register/*
        destination: /index.html
      # Catch-all for SPA routing, ensuring we don't rewrite actual files
      - type: rewrite
        source: /((?!.*\..*).*)
        destination: /index.html